
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #252525;
}

body {
	margin: 0;
	padding: 0;
	background-color: #405063;
}

.imgLogo {
    width: 60vw;
    max-width: 215px;
}

.divLogoH1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
    
.nextime {
    font-size: clamp(20px, 9vw, 45px);
    margin-bottom: -26px;
}

.agendamentos {
    text-align: center;
    font-size: clamp(6px, 2.5vw, 12px);
    padding-top: 0;
    margin-bottom: 30px;
    margin-top: 0;
}

.byNixion  {
	font-size: 0.6rem;
    text-align: right;
    margin-top: 10px;
	margin-top: 20px;

}
.fundoLogin {
	display: flex;
    background-color: #ebebeb;
    justify-content: center;
    justify-self: center;
    padding: 30px;
    margin-top: 25vh;
    flex-direction: column;
    box-shadow: 5px 20px 15px;
    max-width: 350px;
    width: 80vw;
}

form {
	max-width: 500px;
    min-width: 250px;
    text-align: center;
}

label {
	font-size: 0.8rem;
    margin-top: 10px;
	border-radius: 10px;
	background-color: #ebebeb;
	padding-left: 2px;
    padding-right: 2px;
	
}

.labelUsuario {
	position: absolute;
    margin-top: -8px;
    margin-left: 10px;;
}

.labelPassword {
	position: absolute;
    margin-top: -8px;
    margin-left: 10px;
}


.campoTexto {
	padding: 8px;
    outline: none;
    margin-bottom: 15px;
    background-color: #ebebeb;
    border: solid 1px;
    border-color: #676767;
    font-size: 0.9rem;
    width: 63vw;
    max-width: 270px;
}

.divButton {
	margin-left: -115px;
}

.button {
    font-size: clamp(5px, 6vw, 18px);
    padding: 5px;
}